$font-family_1: "Times New Roman", Times, serif;

$header_font-color: #000000;
$header_hover-bg-color: black;
$header_hover-font-color: white;
$header_hover-login-font-color: rgb(0, 0, 0);
$header-boxShadow-color: rgba(196, 55, 55, 0.3);

$header-search-bg: rgba(255, 255, 255, 0.5);
$header-search-brdr-color: rgb(201, 201, 201);
$header-search-brdr-hover-color: rgb(255, 234, 0);
$header-search-clr: black;
$header-search-hover-bg: rgba(255, 255, 255, 0.8);
$header-search-focus-bg: rgba(255, 255, 255, 0.8);

$header-login-hover-bg: white;
$header-login-txt-color: black;
$header-signin-hover-bg: red;
$header-signin-txt-color: red;

$background-color_index_wrap-left: #d2fdff;
$background-color_index_wrap-right: #c43737;

$style-wrap-left-bg: #007686;
$style-wrap-right-bg: #eecccc;
$style-btn-wrap-left-bg: #eecccc;
$style-btn-wrap-left-brd-color: #d2fdff;

$style-cat-eyeBall-bg: white;
$style-cat-eye-pupil-bg: black;

$footer-bg: #292424;
$footer-opn-btn-bg: rgba(41, 36, 36, 0.6);
$footer-cls-btn-bg: rgba(255, 255, 255, 0.6);
$footer-txt-color: #d3d3d3;

$calc-bg: #005c6d;
$calc-titleBar-bg: #007686;
$calc-titleBar-txt-color: white;
$calc-display-bg: black;
$calc-titleBar-btn-hover: red;
$calc-titleBar-btn-hover-txt-color: white;

$calc-btn-operators-color: #c69696;
$calc-btn-actions-color: #e1b1ca;
$calc-btn-numbers: white;
$calc-btn-bg: #005c6d;

$stopWatch-bg: #ffe4e4;
$stopWatch-titleBar-bg: #007686;
$stopWatch-titleBar-txt-color: white;
$stopWatch-titleBar-btn-hover: white;
$stopWatch-titleBar-btn-hover-txt-color: #005c6d;
$stopWatch-btn-brdr-color: #005c6d;
$stopWatch-btn-txt-color: #005c6d;
$stopWatch-btn-hover-bg: #005c6d;
$stopWatch-btn-brdr-hover-color: #005c6d;
$stopWatch-btn-txt-hover-color: #eecccc;
